# Disponibilidad de bicicletas por estación según horario

In [1]:
%matplotlib inline
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime, date, time, timedelta
plt.style.use('default')
plt.rcParams['figure.figsize']=(17,8)

In [2]:
#chunks=pd.read_csv('status.csv',sep=',',iterator=True,chunksize=1000)
#status = pd.concat([chunk for chunk in chunks])
station = pd.read_csv('station.csv')
station.head()

,id,name,lat,long,dock_count,city,installation_date
0,2,San Jose Diridon Caltrain Station,37.329732,-121.901782,27,San Jose,8/6/2013
1,3,San Jose Civic Center,37.330698,-121.888979,15,San Jose,8/5/2013
2,4,Santa Clara at Almaden,37.333988,-121.894902,11,San Jose,8/6/2013
3,5,Adobe on Almaden,37.331415,-121.893200,19,San Jose,8/5/2013
4,6,San Pedro Square,37.336721,-121.894074,15,San Jose,8/7/2013

In [21]:
status = pd.read_csv('status_red.csv')

#station.groupby('city').describe()
status.isnull().any()
status.count()

station_id         2109467
bikes_available    2109467
docks_available    2109467
start_time         2109467
end_time           2109467
dtype: int64

In [22]:
status['start_time']= pd.to_datetime(status['start_time'], format = '%Y/%m/%d %H:%M:%S')
status['end_time']= pd.to_datetime(status['end_time'], format = '%Y/%m/%d %H:%M:%S')
status.head()

,station_id,bikes_available,docks_available,start_time,end_time
0,2,2,25,2013-08-29 12:06:01,2013-08-29 13:10:02
1,2,3,24,2013-08-29 13:11:01,2013-08-29 13:52:01
2,2,2,25,2013-08-29 13:53:02,2013-08-29 17:17:01
3,2,3,24,2013-08-29 17:18:01,2013-08-29 17:19:01
4,2,4,23,2013-08-29 17:20:01,2013-08-29 17:34:01

In [26]:
status['start_time_anio'] = pd.DatetimeIndex(status['start_time']).year
status['start_time_mes'] = pd.DatetimeIndex(status['start_time']).month
status['start_time_dia'] = pd.DatetimeIndex(status['start_time']).day
status['end_time_anio'] = pd.DatetimeIndex(status['end_time']).year
status['end_time_mes'] = pd.DatetimeIndex(status['end_time']).month
status['end_time_dia'] = pd.DatetimeIndex(status['end_time']).day

station_status = pd.merge(station,status,how='left',on=['id','station_id'])

status.head()

KeyError: 'id'

In [14]:
status.loc[status['time'].str.contains('2013/08/30 16'),:]

         station_id  bikes_available  docks_available                 time
1499              2                3               24  2013/08/30 16:00:01
1500              2                3               24  2013/08/30 16:01:01
1501              2                3               24  2013/08/30 16:02:01
1502              2                3               24  2013/08/30 16:03:01
1503              2                3               24  2013/08/30 16:04:01
1504              2                3               24  2013/08/30 16:05:01
1505              2                3               24  2013/08/30 16:06:01
1506              2                3               24  2013/08/30 16:07:01
1507              2                3               24  2013/08/30 16:08:01
1508              2                2               25  2013/08/30 16:09:01
1509              2                4               23  2013/08/30 16:10:01
1510              2                5               22  2013/08/30 16:11:03
1511              2                8               19  2013/08/30 16:12:01
1512              2                8               19  2013/08/30 16:13:01
1513              2                9               18  2013/08/30 16:15:01
1514              2               10               17  2013/08/30 16:16:01
1515              2               10               17  2013/08/30 16:17:01
1516              2               10               17  2013/08/30 16:18:04
1517              2               10               17  2013/08/30 16:19:01
1518              2               10               17  2013/08/30 16:21:01
1519              2               10               17  2013/08/30 16:22:01
1520              2               10               17  2013/08/30 16:23:02
1521              2               10               17  2013/08/30 16:24:01
1522              2               10               17  2013/08/30 16:25:01
1523              2               10               17  2013/08/30 16:26:07
1524              2               10               17  2013/08/30 16:27:01
1525              2               10               17  2013/08/30 16:28:01
1526              2               10               17  2013/08/30 16:29:02
1527              2               10               17  2013/08/30 16:30:01
1528              2               10               17  2013/08/30 16:31:07
...             ...              ...              ...                  ...
4950823          26                8                7  2013/08/30 16:27:01
4950824          26                8                7  2013/08/30 16:28:01
4950825          26                8                7  2013/08/30 16:29:02
4950826          26                8                7  2013/08/30 16:30:01
4950827          26                8                7  2013/08/30 16:31:07
4950828          26                8                7  2013/08/30 16:32:01
4950829          26                8                7  2013/08/30 16:33:01
4950830          26                8                7  2013/08/30 16:34:01
4950831          26                8                7  2013/08/30 16:35:01
4950832          26                8                7  2013/08/30 16:37:01
4950833          26                8                7  2013/08/30 16:38:01
4950834          26                8                7  2013/08/30 16:40:01
4950835          26                8                7  2013/08/30 16:41:02
4950836          26                8                7  2013/08/30 16:42:01
4950837          26                8                7  2013/08/30 16:43:01
4950838          26                8                7  2013/08/30 16:44:01
4950839          26                8                7  2013/08/30 16:45:01
4950840          26                8                7  2013/08/30 16:46:01
4950841          26                8                7  2013/08/30 16:48:01
4950842          26                8                7  2013/08/30 16:49:01
4950843          26                8                7  2013/08/30 16:50:01
4950844          26                8                7  2013/08/30 16:51:01
4950845          26                8                7  2013/08/30 16:52:01
4950846          26                8                7  2013/08/30 16:53:01
4950847          26                8                7  2013/08/30 16:54:01
4950848          26                8                7  2013/08/30 16:55:02
4950849          26                8                7  2013/08/30 16:56:01
4950850          26                8                7  2013/08/30 16:57:01
4950851          26                8                7  2013/08/30 16:58:01
4950852          26                8                7  2013/08/30 16:59:03

[1100 rows x 4 columns]